In [2]:
# question 1
n = int(input('Num: '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print('* ',end='')
    print('')

Num: 5
*
* *
* * *
* * * *
* * * * *

In [18]:
# question 2
n = int(input('Num: '))
for i in range(1,n+1):
    for j in range(1,i-1+1):
        print(" ",end="")
    for z in range(1,n+1-i+1):
        print("*",end ="")
    print()

Num: 5
*****
 ****
  ***
   **
    *

In [31]:
   # question 3
n = int(input('Num: '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j ,end='')
    print('')

Num: 5
1
12
123
1234
12345

In [50]:
# question 4
n = 0
rows = int(input("Rows Number: "))
for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(" ",end='')
    while n != (2*i-1):
        print("*", end="")
        n = n + 1
    n = 0
    print()

Rows Number: 5
    *
   ***
  *****
 *******
*********

In [48]:
# question 5
n = int(input('Num: '))
for i in range(1,n+1):
    for z in range(1,n-i+1+1):
        print(" ",end='')
    for j in range(1,i+1):    
        print("*",end='')
    
    print('')

Num: 5
     *
    **
   ***
  ****
 *****

In [2]:
# question 6
n = int(input("Rows Number: "))
for i in range(1,(2*n)+1,2):
    for space in range(1,int((i+1)/2)):
        print(" ",end='')
    for star in range(1,(2*n)-i+1):
        print('*',end = '')
    print()

print("hello")

Rows Number: 5
*********
 *******
  *****
   ***
    *

In [7]:
# question 7
n = int(input('Num: '))
for i in range(1,n+2):               # add two pattern
    for j in range(1,i+1):
        print('*',end='')
    print('')    
    
for row in range(1,n+1):
    for j in range(1,n+1-row+1):     # here we decrease the num of range 
        print('*',end='')
    print('')

Num: 5
*
**
***
****
*****
******
*****
****
***
**
*

In [33]:
# question 8
n = int(input('Num: '))
for row in range(1,n+1):
    for j in range(1,n+1-row+1):
        print(j,"" ,end='')
    print('')

Num: 6
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [1]:
# question 9
n = int(input('Num: '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,"" ,end='')
    print('')

Num: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [30]:
# question 10
n = int(input('Num: '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end='')
    print('\n')

Num: 5
1

22

333

4444

55555

In [2]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end="")
    print(' ')

5
*
**
***
****
*****